* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html{
    width: 100vw;
    height: 100vh;
}
body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: aliceblue;
}

.container {
    width: 100vw;
    height: 100%;

    padding: 10px;

    flex-flow: column nowrap;

    background-color: white;

    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
}

.container>* {
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 10px;

    border: 1px solid rgb(192, 132, 58);
}

.menuBlock__block {
    width: 50%;
    height: auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.menuBlock__valueInput {
    width: 50px;
    height: 30px;

    border-radius: 20px;
    border: 1px solid black;

    font-family: 'Montserrat';
    text-align: center;
    font-weight: 500;

}

.menuBlock__toggle {
    appearance: none;
    width: 50px;
    height: 30px;

    position: relative;

    border-radius: 20px;
    background-color: #dae6ec;

    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.3ms ease;
}

.menuBlock__toggle::before {
    content: '';
    width: 26px;
    height: 26px;

    top: 1px;
    left: 1px;

    position: absolute;

    border-radius: 50%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);

    transition: all 0.3s ease;
}

.menuBlock__toggle--check:checked {
    background-color: #005cff;
    border: 0.5px solid #005eff77;
}

.menuBlock__toggle--check:checked::before {
    left: calc(100% - 27px); 
    transform: translateX(0);
}

@media (min-width: 1024px) {
    .container {
        width: 50%;
        border: 1px dashed blue;
    }
}

@media (orientation: landscape) {
    .container {
        display: flex;
        flex-flow: row nowrap !important;
    }

    .container>* {
        width: 50%;
        height: 100%;
    }

}